    body,

    html{
        width: 100%;
        height: 100%;
        font-family: 'Roboto', sans-serif;
        background: url(laooy.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;  
        text-shadow: 5px 5px 5px 5px;
    }
    nav{
        position: fixed;
    }
    .navbar-branda {
      text-decoration: none;
      color:aliceblue;
    }
    .navbar-branda:hover{
        color: #f05f44;
        font-weight: 900;

    }
    .navbar-brandb {
        padding-left: 4px;
        text-decoration: none;
        color:aliceblue;
      }
      .navbar-brandb:hover{
          color: #f05f44;
          font-weight: 900;
  
      }
      .navbar-brandc {
        padding-left: 4px;
        text-decoration: none;
        color:aliceblue;
      }
      .navbar-brandc:hover{
          color: #f05f44;
          font-weight: 900;
  
      }
    .container {
        display: flex;
        flex-flow: column;
        text-align:center;
        padding-top: 180px;
        text-shadow: 2px 2px black;
    }
    h1{
        font-size: 3rem;
        color: #e2dbdb;
    }
   
   
    hr {
        border: 2px solid #c0452f;
        max-height: 20px;
        max-width: 90px;
        margin-bottom: 20px;
        margin-left: 510px;
    }

    .btn{
        font-weight: 700;
        border-radius: 300px;
    }
    .btn-primary{
        background-color: #f05f44;
        border-color: #f05f44;
    }
    .btn-primary:hover{
        background-color: #ee4b08;
        border-color: #f05f44;
        border-width: 4px;
    }
    .btn-xl{
        padding: 1rem 2rem;
    }
    